body {
    margin: 0;
}

ul {
    list-style-type: georgian;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f3f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #101;
    padding: 5px 10px;
    text-decoration: none;
}

li a.active {
    background-color: #5CAF50;
    color: white;
}

}
li a:hover:not(.active) 
    background-color: #755;
    color: white;   
}
#title{
    float: left;
    width: 10px;
    text-align: center;
    text-decoration: center;

}
